#hex {
     color: white;
     font: 4em Helvetica;
     left: 50%;
     position: fixed;
     text-align: center;
     top: 50%;
     transform: translate(-50%, -50%);
}
#contact {
	color: white;
	font: 1em Helvetica;
}
#contact:hover {
	color: purple;
}
#hex:hover {
	 text-decoration: underline;
}

@media all and (min-width: 320px) {
  #hex { font-family: Helvetica; color: white; font-size: 4em;
  }
@media all and (min-width: 500px) {
  #hex { font-family: Helvetica; color: white; font-size: 6em; }
}
@media all and (min-width: 750px) {
  #hex { font-family: Helvetica; color: white; font-size: 8em; }
}
@media all and (min-width: 1000px) {
  #hex { font-family: Helvetica; color: white; font-size: 10em; }
}
